name: tubule_segmentation
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch=2.1
  - torchvision
  - pytorch-cuda=11.8
  - numpy
  - scipy
  - matplotlib
  - tqdm
  - pip
  - pip:
    - opencv-python
    - albumentations
    - huggingface_hub
    - sam2